/client/target/classes
/client/target/test-classes
/client/target/maven-archiver
/client/target/maven-status
/server/target/classes
/server/target/test-classes
/server/target/maven-archiver
/server/target/maven-status
/.settings/
/.classpath
/.project
